*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(244, 244, 244);
}
header{
   padding: 20px;
   background-color: white;
}
/* logo e titolo  */
.logo{
    height: 70px;
}
.d-inline-block{
    display: inline-block;
}
.v-align-middle{
    vertical-align: middle;
}
h2{
    font-size: 45px;
}
/* main  */
.py-40{
    padding: 40px 0;
}
.p-20{
    padding: 20px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.bg-white{
    background-color: white;
}
.border-bottom{
    border-bottom: 2px solid rgb(244, 244, 244);
}
.label-square{
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid;
}
.bg-lblue{
    background-color: rgb(11, 152, 198);
}
.lgrey{
    color: lightgray;
}
.white{
    color: white;
}
.ml-30{
     margin-left: 30px;
}
/* lista non ordinata */
.triangle{
    list-style-type: '\25BE';
    }
.fontsize-25{
    font-size: 25px;
}
.ml-80{
    margin-left: 80px;
}
.py-20{
    padding: 20px 0;
}
.py-10{
    padding: 10px 0;
}
.px-5{
    padding: 0px 5px;
}
.my-10{
    margin: 10px 0px;
}
.my-5{
    margin: 5px 0px;
}
.fontsize-20{
    font-size: 20px;
}




