*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(244, 244, 244);
    font-family: Arial;
}
header{
   padding: 20px;
   background-color: white;
}
/* logo e titolo  */
.logo{
    height: 70px;
}
.d-inline-block{
    display: inline-block;
}
.v-align-middle{
    vertical-align: middle;
}
h2{
    font-size: 45px;
}
/* main  */
main{
    padding: 40px 0;
}
.p-20{
    padding: 20px;
}
/* contenitore centrale  */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bg-white{
    background-color: white;
}
.border-bottom{
    border-bottom: 2px solid rgb(244, 244, 244);
}
/* bottoni top div  */
.label-square{
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid;
}
.bg-lblue{
    background-color: rgb(11, 181, 224);
}
.lgrey{
    color: lightgray;
}
.white{
    color: white;
}
.ml-30{
     margin-left: 30px;
}
/* lista non ordinata */
ul {
    list-style-type: none;
    }    
.ml-80{
    margin-left: 80px;
}
.py-20{
    padding: 20px 0;
}
/* list item  */
.sub-li{
    padding: 0px 5px;
    margin: 15px 0px;
    font-size: 20px;
}
.title-li{
    padding: 10px 0;
    margin: 5px 0px;
    font-size: 25px;
}
/* entities della lista */
.checkmark{
    font-size: 12px;
    padding: 1px 4px;
    color: rgb(52, 176, 52);
    border-radius: 50%;
    margin-right: 10px;
}
.green{
    border: 1px solid rgb(72, 195, 72);
}
.red{
    border: 1px solid red;
}
.checkmark-x{
    font-size: 12px;
    padding: 1px 5px;
    color: red;
    border-radius: 50%;
    margin-right: 10px;
}
/* label della lista  */
.label-round{
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 30px;
    border: 1px solid;
    margin-left: 5px;
}
.bg-purple{
    background-color: rgb(139, 91, 188);
}
.bg-watergreen{
    background-color: rgb(26, 190, 121);
}
.bg-orange{
    background-color: orange;
}
.bg-fuchsia{
    background-color: rgb(216, 75, 198);
}
.bg-lgreen{
    background-color: rgb(107, 179, 53);
}




